body {
	padding: 10px;
	background-color: #000;
    color: #fff;
}

figure {
    text-align: center;
}

h2{
    color: #a5a5a5c4;
}

h3{
    color: #a5a5a5c4;
}

li{
    /*color: #000;*/
    color: #753232;
    font-size: 20px;
}

p{
    color: #753232;
    /*font-weight: 400;*/
    font-size: 20px;
}


.navbar-default {
    background-color:#2b2828;
    color: #fff;
}

.navbar-inverse .navbar-nav>li>a {
    color: #9d9d9d;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #753232; /*red*/
}

.navbar-inverse {
    background-color: #222;
    border-top-color: #080808;
    border-bottom-color: #753232;
    border-width: 1.5px;
}

.jumbotron{
    /*background-color: #753232; */
    background-color: #000;
}

.jumbotron p {
    font-weight: 400;
}
h1
{
	color: #080808;
}