body {
	padding: 10px;
	background-color: #4e0f0f;/*#753232  #4e0f0f       #828282*/
    color: #867866; /*#867866*/
}

.right{
    float:right;
}

.tabs li {
    color: #222;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
}

.tabs .current {
    background: #ededed;
    color: #000;
}

.tab-content {
    display: none;
    background: #ededed;
    padding: 15px;
}

.tab-content.current {
    display: inherit;
}

figure {
    text-align: left;
}

li{
    /*color: #000;*/
    color: #753232;
    font-size: 20px;
}

.resume{
    color: #867866; /*#867866*/
}

.navbar-default {
    background-color:#2b2828;
    color: #fff;
}

.navbar-inverse .navbar-nav>li>a {
    color: #9d9d9d;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #753232; /*red*/
}

.navbar-inverse {
    background-color: #222;
    border-top-color: #080808;
    border-bottom-color: #753232;
    border-width: 1.5px;
}

.jumbotron{
    background-color: #753232; 
}
h1
{
	color: #080808;
}

.first{
    background-color: #222;
    text-align: center;
}

.second{
    background-color: #4e0f0f; /*#4e0f0f*/
}